* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
}

:root {
    --main-light-color: #c1846a
    --main-color:  #904214;
    --dark-main-color: #2c3646;
    /*--main-color-hover:  #464866;*/
    --text-color: #ccc;
    --color-background: #eee;
    
    /*Black and White*/
    --white: #ffffff;
    --black: #000000;
    
    /*Percentages*/
    --containerLeft: 14%;
}