* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

body {
    background-color: var(--color-background);
}

.container {
    display: flex;
}

:root {
    --mainColor: #904214;
    --navBar-color: #282828;
    --color-background: #f6f6f6;
    
    /*Black and White*/
    --white: #ffffff;
    --black: #000000;
    
    /*Percentages*/
    --containerLeft: 14%;

    /*Font sizes*/
    --navBar-font-size: 1em;
    --titleSize: 1.2em;
    --subtitleSize: 1em;
    --textFontSize: 0.8em;
}