* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
}

:root {
    --main-color: #904214;
    --navBar-color: #282828;
    --color-background: #f6f6f6;
    
    /*Black and White*/
    --white: #ffffff;
    --black: #000000;
    
    /*Percentages*/
    --containerLeft: 14%;
}