.navigationBar {
    width: var(--containerLeft);
    position: fixed;
    min-height: 100%;
    background-color: var(--navBar-color);
}

.logo {
    text-align: center;
}

.logo > img {
    width: 100%;
}

.navigationBarCategory {
    display: grid;
    font-size: var(--navBar-font-size);
}

.navigationBarCategory > a > img{
    width: 20px;
    margin-right: 4%; 
}

.navBar-item-separate {
    color: var(--white);
    margin: 10% 0;
    padding: 5% 2%;
}

    .navBar-item-separate:hover {
       background-color: var(--mainColor);
    }

.navBar-item {
    color: var(--white);
    padding: 5% 2%;
}

    .navBar-item:hover {
        background-color: var(--mainColor);
    }

.social {
    width: 100%;
    margin-top: 5%;
    text-align: center;
}

.social > a > img{
    width: 20px;
    margin: 2% 5%;
}

.social > a > img:hover{
    width: 20px;
    margin: 2% 5%;
}

